.gradient-background{
    background: linear-gradient(-300deg,red, #533ce7, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
#title_image{
    background-blend-mode:normal;
    border: 50px;
    padding-top:5px;
    padding-left: 10px;
    border-color: antiquewhite;
    border-radius: 29px;
    
  
}
.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: 1rem;
    margin:2%
}

